### Introduccion a Python

In [2]:
# Este es mi primer programa de Python

print('Hola, mundo') # Esta es una forma de imprimir mensajes, usando comillas simples.
print("Hola, mundo 2") # Esta es otra forma de imprimir mensajes, usando comillas dobles.

Hola, mundo
Hola, mundo 2

In [7]:
# Funcion TYPE

print(type('Hola, mundo')) # Nos permite conocer con que tipo de dato estamos trabajando, en este caso verificamos que
                           # 'Hola, mundo' es un string.

<class 'str'>

### Variables

In [10]:
# Python es un lenguaje de tipado dinamico

variable = 'Mi Variable String' # Hay que tener cuidado porque, si bien aqui asignamos 'Mi Variable String'
print(variable)                 # que es de tipo string a la variable llamada variable...
variable = 5                    # Aqui le estamos asignando un valor tipo entero.
print(variable)                 # A esta flexibilidad del lenguaje se le conoce como tipado dinamico.

Mi Variable String
5
<class 'int'>

### Tipos de Variable

In [11]:
# Variables de tipo Entero
variable_entera = 5
print(type(variable_entera))

<class 'int'>

In [12]:
# Variables de tipo flotante

variable_flotante = 5.15
print(type(variable_flotante))

<class 'float'>

In [15]:
# Variables de tipo booleano

variable_booleana = True
print(type(variable_booleana))
variable_booleana_2 = False
print(type(variable_booleana_2))

<class 'bool'>
<class 'bool'>

In [17]:
# La asignacion de variables se puede realizar de forma vertical:
x = 40
y = 30
z = 10
# O de forma horizontal:
a, b, c = 3, 9, 15

# Es cuestion de preferencia.

# Aqui estamos concatenando variables:
print(x, y, z)
print(a, b, c)

40 30 10
3 9 15

In [49]:
mi_edad = 25

# Aqui estamos concatenando un string, con una variable entera.
print('Mi edad es', mi_edad)

Mi edad es 25

In [25]:
nombre = 'Gus Lopez'
edad = 28

print('Mi nombre es', nombre, 'y tengo', edad, 'anios.')

Mi nombre es Gus Lopez y tengo 28 anios.

In [28]:
# Inputs: nos sirven para que el usuario sea quien ingrese los valores de las variables.

nombre_de_usuario = input('Ingresa tu nombre:')
edad_del_usuario = input('Ingresa tu edad:')

print('Mi nombre es', nombre_de_usuario, 'y tengo', edad_del_usuario, 'anios.')

print(nombre_de_usuario)

Ingresa tu nombre:Gus Lopez
Ingresa tu edad:28
Mi nombre es Gus Lopez y tengo 28 anios.
Gus Lopez

### Operadores

In [38]:
# Estos son los operadores esenciales.

print(3 + 3)
print(3 - 3)
print(3 * 3)
print(10 / 3) # Division Normal
print(10 // 3) # Division redondeada hacia abajo
print(10 % 3) # Modulo: retorna el restante de la division
print(3 ** 3)
print(25 ** (1 / 2))

6
0
9
3.3333333333333335
3
1
27
5.0

In [51]:
# Se pueden realizar operaciones con strings? Si, pero solo estas:

print('Hola '+'Python') # La suma de strings no es mas que una concatenacion de strings.
print('Hola '+str(5)) # No se puede concatenar un string con un entero, por eso se a√±ade la funcion str() que convierte el 5 en string.
print('Hola' * 3) # Multiplicar un string por un entero hace que el string se repita. No se puede multiplicar string * float.

Hola Python
Hola 5
HolaHolaHola

In [52]:
# Operadores comparativos
#Los operadores comparativos arrojan valores booleanos.

print(type(3 > 4))

print(3 > 4)
print(3 < 4)
print(3 <= 4)
print(3 >= 4)
print(3 == 4)
print(3 != 4)

<class 'bool'>
False
True
True
False
False
True